
* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 
}

body {
    background: linear-gradient(180deg, hsla(208,59%,24%,1.00) 5%,   #b4c7d7 100%);
    color: #111111;
    min-height: 100vh;
}


.kepala{ color:hsla(69,100%,46%,1.00);font-size: 35px}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  ;
    padding: 0px 790px 50px 790px;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 999;
}


.nav-links {
    display: flex;
    gap: 12px;
}

.nav-item {
    text-decoration: none;
    font-size: 0.80rem;
    font-weight: bold;
    font-style: italic;
    color:hsla(226,21%,55%,1.00);
    background-color:hsla(109,53%,6%,1.00);
    padding: 6px 18px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.nav-item:hover {color:#C5E91F}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto; margin-top: 90px
}


.card {
    background-color: #ffffff;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    min-height: 320px;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0.5) 1%, black 100%);
    z-index: 1;
}

.card-content {
    position: relative;
    z-index: 2;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.card h2 {
    font-size: 2.2rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1rem;
}

.card-sub {
    font-size: 0.75rem;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.2rem;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #111;
    flex-grow: 1;
    margin-bottom: 1.5rem;
}

.see-more {
    align-self: flex-end;
    color: #b0d400;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem;
}

.see-more:hover {
    text-decoration: underline;
}


.card-obsession { background-image: url('album1.png'); }
.card-the-war { background-image: url('album5.png'); }
.card-reverxe { background-image: url('album3.png'); }
.card-exact { background-image: url('album2.png'); }


@media (max-width: 900px) {
    body {
        padding: 2rem;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
    .navbar {
        flex-direction: column;
        gap: 1.5rem;
    }
}